body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:976px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:942px;
  height:326px;
}
#u1868 {
  position:absolute;
  left:34px;
  top:33px;
  width:942px;
  height:326px;
}
#u1869 {
  position:absolute;
  left:2px;
  top:155px;
  width:938px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1870 {
  position:absolute;
  left:120px;
  top:431px;
  width:300px;
  height:170px;
  text-align:left;
}
#u1871 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  word-wrap:break-word;
}
