body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:5329px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:947px;
}
#u1551 {
  position:absolute;
  left:34px;
  top:46px;
  width:1278px;
  height:947px;
}
#u1552 {
  position:absolute;
  left:2px;
  top:466px;
  width:1274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1275px;
  height:931px;
}
#u1553 {
  position:absolute;
  left:37px;
  top:1076px;
  width:1275px;
  height:931px;
}
#u1554 {
  position:absolute;
  left:2px;
  top:458px;
  width:1271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1273px;
  height:913px;
}
#u1555 {
  position:absolute;
  left:37px;
  top:2033px;
  width:1273px;
  height:913px;
}
#u1556 {
  position:absolute;
  left:2px;
  top:448px;
  width:1269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1236px;
  height:670px;
}
#u1557 {
  position:absolute;
  left:1322px;
  top:46px;
  width:1236px;
  height:670px;
}
#u1558 {
  position:absolute;
  left:2px;
  top:327px;
  width:1232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1605px;
  height:910px;
}
#u1559 {
  position:absolute;
  left:2594px;
  top:46px;
  width:1605px;
  height:910px;
}
#u1560 {
  position:absolute;
  left:2px;
  top:447px;
  width:1601px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1605px;
  height:872px;
}
#u1561 {
  position:absolute;
  left:2594px;
  top:1004px;
  width:1605px;
  height:872px;
}
#u1562 {
  position:absolute;
  left:2px;
  top:428px;
  width:1601px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1246px;
  height:682px;
}
#u1563 {
  position:absolute;
  left:1338px;
  top:1786px;
  width:1246px;
  height:682px;
}
#u1564 {
  position:absolute;
  left:2px;
  top:333px;
  width:1242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1241px;
  height:847px;
}
#u1565 {
  position:absolute;
  left:1312px;
  top:726px;
  width:1241px;
  height:847px;
}
#u1566 {
  position:absolute;
  left:2px;
  top:416px;
  width:1237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1567_div {
  position:absolute;
  left:0px;
  top:0px;
  width:992px;
  height:392px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF0000;
  text-align:left;
}
#u1567 {
  position:absolute;
  left:4337px;
  top:130px;
  width:992px;
  height:392px;
  font-size:28px;
  color:#FF0000;
  text-align:left;
}
#u1568 {
  position:absolute;
  left:2px;
  top:-2px;
  width:988px;
  word-wrap:break-word;
}
#u1569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1477px;
  height:896px;
}
#u1569 {
  position:absolute;
  left:2594px;
  top:1972px;
  width:1477px;
  height:896px;
}
#u1570 {
  position:absolute;
  left:2px;
  top:440px;
  width:1473px;
  visibility:hidden;
  word-wrap:break-word;
}
